<h1> Written among the stars... </h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to 'Read More', post_path(post) %></td>
    </tr>
  <% end %>
  <%= link_to 'New Entry', new_post_path %>
</table>
