<!DOCTYPE html>
<html>
  <head>
    <title>LINSEYO</title>
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
